.mainTable{
    position:relative;
    top: 20px; bottom: 0; left: 0; right: 0;
}

table{
    width:90%;
}

table, th, td{
    top:6%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
}

th,td{
    padding:10px;
    font-size:20px;
    white-space:pre-wrap;
    word-wrap:break-word
}
